/* 
Des is de CSS fia des Impressum.html.
!!!!!Responsive Design für diese Seite wird a do herinnen geregelt.!!!!!
*/

article section {
    margin-bottom: 2.5rem;
}

article h2 {
    margin-top: 1rem;
}

address ul {
    list-style: none;
    padding: 0;
}

a {
    color: var(--c-text);
    text-decoration: none;
    font-weight: 600;
}



a:hover {
    color: #b2d8a0;
    text-decoration: underline;
}

.team-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    .form-row { 
        grid-template-columns: 1fr; 
    }
    .contact-form-section {
        padding: 1.5rem;
    }
}